a{
	font-family: "made soulmaze outline";
	text-decoration: none;
	color: #ffffff;
	font-style: italic;
}
.work{
	font-family: "made soulmaze";
	text-decoration: none;
	color: #ffffff;	
}
.name{
	font-family: "B Luna Piena Demo";
	text-decoration: none;
	color: #ffffff;	
	font-size: 40px;
	margin:0px 0px 0px 40px;	
}
.navigation{
		margin:5px 0px 0px 15px;
	    padding:5px 0px 0px 15px;
}
.navigation2{
    display: inline;
	margin:0px 0px 0px 700px;
	font-size: 22px;
	word-spacing: 20px;
}
.heading{
	color: #FEFEFF;
	font-family:  Josefin Sans;
    font-size: 250%;
    text-align:center;
    margin-top: 60px; 
    font-weight: 10;
}
hr{
	width: 80%;
}
.fanddumb{
	color: #FEFEFF;
	font-family:  Josefin Sans;
    text-align:center;
	font-size: 200%;
	margin-top: 60px;
}
#fanddumbimg{
	border-radius: 10px;
	margin-top: 20px;
}
.mix{
	color: #FEFEFF;
	font-family:  Josefin Sans;
    text-align:center;
	font-size: 200%;
	margin-top: 60px;
}
#miximg{
	border-radius: 10px;
	margin-top: 20px;
}
.pinnacle{
	color: #FEFEFF;
	font-family:  Josefin Sans;
    text-align:center;
	font-size: 200%;
	margin-top: 60px;
}
#pinimg{
	border-radius: 10px;
	margin-top: 20px;
}
.mellow{
	color: #FEFEFF;
	font-family:  Josefin Sans;
    text-align:center;
	font-size: 200%;
	margin-top: 60px;
}
#melimg{
	border-radius: 10px;
	margin-top: 20px;
}
.other{
	margin-left: 390px;
    width:400px;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 50px;
    
}

.work-title-color {
	width:312px;
	text-align: center;
	font-family: Josefin sans;
	font-size:18px;
	color:white;
}
img{
	border-radius: 10px;
	margin: 10px;
    transition: all .2s;
}

img:hover{
	     transform: scale(1.1);
}


.footer-flex {
	font-family: Josefin Sans;
	margin-top:50px;
	padding:15px 0;
	color:white;
	display:flex;
	justify-content: space-around;
	background:#4b4c4d;
}

.footer-ele h4 {
	font-weight: 400;
	text-align: center;
	font-size:18px;
	margin-bottom:10px;
}

.icons-flex {
	width:110px;
	display:flex;
	justify-content: space-between;
	margin:20px 0;
}

i {
	background:white;
	color:black;
	padding:7px;
	border-radius: 50%;
}

.footer-ele-flex {
	display:flex;
	align-items: center;
	gap:10px;
}


  .mail{
	font-family:  Josefin Sans ;
	text-decoration: underline;
  } 

